@model Crud.ViewModels.Widgets.EditViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Show > Widget @Model.Id</h2>

<a class="btn btn-primary" asp-action="Index">
    Back to Index
</a>

